:root {
    --red: #DA8881;
    --light-red: #FFC7C2;
    --blue: #61D1CA;
    --light-blue: #BAF3E6;

    --white: #F8F7F3;
    --black: #5E6472;
}

.emphasis1 {
    color: var(--red);
}

.emphasis2 {
    color: var(--blue);
}

.white {
    color: var(--shade-light);
}

.black {
    color: var(--shade-dark);
}

.light1 {
    background-color: var(--red-accent);
}

.light2 {
    background-color: var(--blue-accent);
}