  jp-text-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
  }
  
  .jp-text-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
  }

  .gone{
    display: none;
    opacity: 0;
  }

  .fading_out{
    opacity: 0;
  }

  .here{
    display: auto !important;
    opacity: 1;
  }


  .title {

    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
  }

  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
  }

  body{
    background-color: var(--shade-light);
    margin: 0;
  }

  #frame {
    width: 80%;
    height: 75%;
    display: block;
    position: absolute;
    margin: calc(10vh - 0.3rem) calc(10vw - 0.3rem);
  }

  .left {
    width: 58%;
    height: 100%;
    position: absolute !important;
    margin: 0 !important;
    left: 0;
  }

  .right {
    width: 33%;
    height: 100%;
    position: absolute;
    right: 0;
  }

  .picture {
    height: 100%;
    width: 100%;
    position: abolute;
  }

  img {
    height: auto;
    width: auto;
    max-height: 95%;
    max-width: 95%;
    object-fit: contain;
    /*border: var(--shade-dark) 0.3rem solid; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .center-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .align-center {
    width: 100%;
    text-align: center;
  }

  .title > .align-center > * {
    font-size: 2.5rem;
  }

  .center-text > .title {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: calc(100% - 6vh);
    height: calc(50% - 6.15rem);
    padding: 3vh;
    border-bottom: var(--shade-dark) 0.3rem solid;
    text-align: center;
  }

  .center-text > .title > * {
    align-self: flex-end;
  }

  .center-text > .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 6vh);
    height: calc(50% - 6.15rem);
    padding: 3vh;
    text-align: center;
  }




#rights-container {
    position: fixed; /* or 'sticky' if applicable */
    bottom: 0; /* Distance from the bottom of the viewport */
    left: 50%; /* Position the left edge of the element in the middle of the viewport */
    transform: translateX(-50%); /* Center the element horizontally */
    /* Add your preferred width, height, and styling below */
    text-align: center; /* Example text alignment */
}

#rights-container > p {
    font-family: "Cutive Mono", monospace;
    font-weight: 100;
    font-size: 0.6rem;
    /* turn the text to a bit transparent */
    color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin: 0;
    transition: color cubic-bezier(1, 0, 0, 1) 0.2s;
}

#rights-container > p:hover{
    font-family: "Cutive Mono", monospace;
    font-weight: 100;
    font-size: 0.6rem;
    /* turn the text to a bit transparent */
    color: rgba(0, 0, 0, 1);
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.thumb {
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  height: 10vh;
  display: flex;
  transition: opacity 0.5s;
}


.thumb .swiper-wrapper {
  flex-grow: 6;
}

#gallery-thumbs > .swiper-slide {
  width: 10vh;
height: 10vh;
  padding: auto;
}

.header{
  padding: 1rem 1.5rem;
  position: fixed;
  text-align: right;
  width: calc(100% - 3rem);
}

.header jp-text-regular{
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
  user-select: none;
}
